examples/foo.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xsd:element name="foo" type="fooType">		<xsd:annotation>			<xsd:documentation>Comment describing your root element</xsd:documentation>		</xsd:annotation>	</xsd:element> 	<xsd:complexType name="fooType"> 		<xsd:sequence> 			<xsd:element name="top" type="xsd:string"/> 			<xsd:element name="bar" type="xsd:string" maxOccurs="unbounded"/>  			<xsd:element name="end" type="xsd:string"/>  		</xsd:sequence>  	</xsd:complexType></xsd:schema> 